@model IEnumerable<CashFlow.Application.DTOs.SheetDTO>

<div class="container mt-3 text-center">
    <h2>Planilhas</h2>

    <table class="table mx-auto">
        <thead>
            <tr>
                <th>Nome</th>
                <th class="action-column">Ação</th>
            </tr>
        </thead>
        <tbody>
            @{
                // Ordene as planilhas em ordem alfabética pelo nome
                var sortedSheets = Model.OrderBy(sheet => sheet.Name);
            }

            @foreach (var sheet in sortedSheets)
            {
                <tr>
                    <td>@sheet.Name</td>
                    <td class="action-column">
                        <a class="btn btn-outline-info" asp-action="Details" asp-controller="Sheet" asp-route-id="@sheet.Id">Detalhes</a>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@sheet.Id">Editar</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@sheet.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a class="btn btn-outline-secondary" asp-action="Create">Criar uma nova planilha</a>
    </p>
</div>

<style>
    .action-column {
        margin-right: 20px;
    }

    table {
        width: 80%;
    }
</style>
