@model IEnumerable<CashFlow.Application.DTOs.SheetDTO>

<h2>Planilhas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th class="action-column">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sheet in Model)
        {
            <tr>
                <td>@sheet.Name</td>
                <td class="action-column">
                    <a asp-action="Details" asp-controller="Sheet" asp-route-id="@sheet.Id">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@sheet.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@sheet.Id">Excluir</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Criar uma nova planilha</a>
</p>

<style>
    .action-column {
        margin-right: 20px;
    }
</style>
